version: '3.4'
services:
  db:
    image: postgres:16.2-alpine3.19
    container_name: medical_exams_db
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=medical_exams
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 2s
      retries: 3
    volumes:
      - ~/docker_volumes/medical_exams_db:/var/lib/postrgresql/data
    networks:
      - medical_exams_network
  app:
    build: .
    image: medical_exams_api:tag
    container_name: medical_exams_app
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=postgres://postgres:password@db:5432/medical_exams
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/usr/src/app
    networks:
      - medical_exams_network

networks:
  medical_exams_network:
