version: '3.4'
services:
  db:
    image: postgres:16.2-alpine3.19
    environment:
      - POSTGRES_PASSWORD=password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 2s
      retries: 3
    networks:
      - mynetwork
  app:
    build: .
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy
    networks:
      - mynetwork

networks:
  mynetwork:
