<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rebase Labs 2024 - Turma 11</title>
</head>
<body>
  <header>
    <nav class="nav">
      <ul>
        <li><a href="/" class="nav__link" data-link>Início</a></li>
        <li><a href="/exams" class="nav__link" data-link>Exames</a></li>
        <li><a href="/search" class="nav__link" data-link>Busca por Token</a></li>
      </ul>
    </nav>

    <input type="file" id="csv-file" name="csvFile" accept=".csv" aria-label="Selecione um arquivo CSV">
    <button type='click' id="import-csv-btn">Enviar CSV</button>
  </header>
  <p id='notice'></p>
  <main id="app"></main>
  <script type="module" src="/js/main.js"></script>
</body>
</html>
